* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --hue: 142;
  --main-color: hsl(var(--hue) 70% 45%);
  --main-color-light: hsl(var(--hue) 84% 92%);
  --base-color-black: hsl(216 22% 21%);
  --base-color-semi-black: hsl(216 22% 43%);
  --base-color-second: hsl(216 17% 60%);
  --base-color: hsl(210 14% 97%);
  --background-color: hsl(0 0% 89%);
}
body {
  background: var(--base-color);
  font-family: 'Poppins', sans-serif;
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.icon {
  background: var(--main-color); 
  border-radius: 0.5rem;
  padding: 0.75rem;
}
i {
  font-size: 1rem;
  color: var(--base-color);
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.container {
  margin: 0 1.5rem;
}
main {
  margin-top: calc(1.5rem + 3rem);
}
section {
  padding: 5rem 0;
}
h1, .title {
  font: 700 3rem 'Poppins', sans-serif;
  color: var(--base-color-black);
  line-height: 3.5rem;
}
p {
  color: var(--base-color-semi-black)
}
.button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  padding: 0.6rem;
  border-radius: 0.4rem;

  background-color: var(--main-color);
  color: var(--base-color);
}
.title {
  color: var(--base-color-black);
}
.badge {
  display: inline-block;
  padding: 0 0.4rem;
  color: var(--main-color);
  font-weight: 500;
  background-color: var(--main-color-light);
  
  font-size: 0.75rem;
  border-radius: 0.4rem;
}
.text h1{
  margin: 1.2rem 0;
}


header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--background-color);
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid var(--main-color);
  box-shadow: 0px 0px 10px black;
}


.show {
opacity: 1;
visibility: visible;
display: none;
}
.menu {
  opacity: 0;
  visibility: hidden;
}
.open {

}

.logo {
  display: inline-flex;
  gap: 0.5125rem;
  align-items: center;
}
.logo i {
  font-size: 2rem;
  color: var(--main-color);
}
.logo p {
  font: 700 1.2rem 'Poppins', sans-serif;
  color: var(--base-color-black);
}


#join-screen {
  background: var(--background-color);
}
#join-screen .join-screen-text .tool-list {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2.25rem;
}
#join-screen .join-screen-text .tool-list .tool {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}
#join-screen .join-screen-text .tool-list .tool i {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.75rem;
  border-radius: 1rem;
}

#join-screen .form-box {
  background-color: var(--base-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 2.875rem 0.75rem;
  border-radius: 0.3rem;
}
#join-screen .form-box h2 {
  color: var(--base-color-black);
}
#join-screen .form-box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
hr {
  background-color: var(--base-color-second);
  width: 22rem
}
#join-screen .form-box input {
  padding: 0.6rem;
  border-radius: 0.4rem;
  padding: 0.75rem 5.25rem;
  border-color: var(--background-color);
}
#join-screen .form-box button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  padding: 0.6rem;
  border-radius: 0.4rem;

  background-color: var(--main-color);
  color: var(--base-color);
  border: none
}
#join-screen .form-box .text {
  text-align: center;
  line-height: 2.5rem;
}
#join-screen .form-box .text p {
  color: var(--base-color-semi-black);
}
#join-screen .form-box .sign-with {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#join-screen .form-box .sign-with .button{
  font-size: 1.5rem;
  padding: 0.75rem 4rem;
  border: 1px solid var(--base-color-semi-black);
  background-color: var(--base-color);
  color: var(--base-color-semi-black);
  width: 100%;
}
#join-screen .form-box .sign-with .button i {
  color: var(--main-color);
}
#join-screen .form-box .sign-with .button p {
  font-size: 1rem;
}
#join-screen .form-box .already-have-an-account {
  display: inline-flex;
  gap: 0.2rem;
  color: var(--base-color-semi-black);
  font-size: 0.875rem;
}



#numbers .data {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  
}
#numbers .data li {
  text-align: center;
}
#numbers .data li h3 {
  font: 700 2rem 'Poppins', sans-serif;
}


#features {
  background-color: var(--background-color);
}
#features .features_examples {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#features .features_examples .feature_n {
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;
}
#features .features_examples .feature_n .right-side p {
  font-size: 0.75rem;
}

#pricing .price-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
#pricing .price-table .price-card {
  background-color: var(--background-color);
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;

  padding: 1.5rem 2rem;
}
#pricing .price-table .price-card .plan {
  color: var(--main-color);
  font-size: 1.2rem;
}
#pricing .price-table .price-card .annually {
  font-size: 1.25rem
}
#pricing .price-table .price-card .pricemth {
  font-size: 2.8rem;
  color: var(--base-color-black);
}
#pricing .price-table .price-card .pricemth span {
  font-size: 1.75rem
}
#pricing .price-table .price-card .pricemth ul {
  display: inline-flex;
}
#pricing .price-table .price-card ul {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}
#pricing .price-table .price-card ul li {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}
#pricing .price-table .price-card ul li i{
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  padding: 0.35rem;
  border-radius: 1rem;

  background-color: var(--main-color);
  color: var(--base-color);
}
#pricing .price-table a {
  margin-top: 1rem;
  width: 100%;
}

aside {
  background-color: var(--base-color-black);
  padding: 2.5rem 5rem ;
}
aside h2{
  font-size: 1.5rem;
  color: var(--base-color);
  grid-area: h;
}
aside  {
  display: grid;
  gap: 0.8rem;
  grid-template-areas: 
  'h h'
  'p p'
  'b1 b2';
}
aside p {
 grid-area: p;
}
aside .button1 {
 grid-area: b1;
}
aside .button2 {
 grid-area: b2;
}


#how-it-works img {
  border-radius: 0.6rem;
}

#how-it-works .functionalities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5rem;
}
#how-it-works .functionalities .functionality {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
#how-it-works .functionalities .functionality .icon {
  color: var(--base-color);
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
}


footer {
  padding: 2.5rem 1.5rem;
  background-color: var(--background-color);

  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
footer .footer-title {
  color: var(--base-color-black);
  font: 700 1.2rem 'Poppins', sans-serif
}
footer .newsletter {
  grid-row: 1;
  grid-column: 2;
}
